# IDE
.idea/
.vscode/

# Python
.venv/
__pycache__/

# Ansible
.ansible/
inventories/

# Dotenv
.env

# Cache
**/files/**/download/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Coder
.coder/
