{{ ansible_managed | ansible.builtin.comment(decoration='; ') }}

[program:coder]
user={{ bootstrap_user_name }}
command=/bin/sh -c 'set -a && . {{ coder_config_file }} && exec {{ coder_install_binary }} agent'
priority=5
process_name=%(program_name)s
environment=HOME="{{ bootstrap_user_home_dir }}",USER="{{ bootstrap_user_name }}",CODER_AGENT_AUTH="token"

autostart=true
startsecs=5
startretries=32767

stopsignal=TERM
stopwaitsecs=10
